<Template>
  <WidgetGroup>
    <ObjectName>Settings</ObjectName>
    <Layout>vertical</Layout>
    <Size>0me,0me</Size>
    <Children>

      <!-- ===== AUDIO OUTPUT ===== -->
      <WidgetGroup>
        <ObjectName>SettingsSection</ObjectName>
        <Layout>vertical</Layout>
        <Size>0me,0me</Size>
        <Children>
          <WidgetGroup>
            <ObjectName>SettingsSectionHeader</ObjectName>
            <Layout>horizontal</Layout>
            <Size>0me,30f</Size>
            <Children>
              <Label>
                <ObjectName>SettingsSectionTitle</ObjectName>
                <Text>SORTIE AUDIO</Text>
              </Label>
            </Children>
          </WidgetGroup>

          <WidgetGroup>
            <ObjectName>SettingsRow</ObjectName>
            <Layout>horizontal</Layout>
            <Size>0me,70f</Size>
            <Children>

              <WidgetGroup>
                <ObjectName>SettingsKnobGroup</ObjectName>
                <Layout>vertical</Layout>
                <Size>100f,0me</Size>
                <Children>
                  <Label>
                    <ObjectName>SettingsKnobLabel</ObjectName>
                    <Text>Volume Master</Text>
                    <Size>0me,20f</Size>
                  </Label>
                  <Knob>
                    <ObjectName>SettingsKnob</ObjectName>
                    <TooltipId>master_volume</TooltipId>
                    <Size>50f,50f</Size>
                    <Connection>
                      <ConfigKey>[Master],volume</ConfigKey>
                    </Connection>
                  </Knob>
                </Children>
              </WidgetGroup>

              <WidgetGroup>
                <ObjectName>SettingsKnobGroup</ObjectName>
                <Layout>vertical</Layout>
                <Size>100f,0me</Size>
                <Children>
                  <Label>
                    <ObjectName>SettingsKnobLabel</ObjectName>
                    <Text>Volume Casque</Text>
                    <Size>0me,20f</Size>
                  </Label>
                  <Knob>
                    <ObjectName>SettingsKnob</ObjectName>
                    <TooltipId>headphone_volume</TooltipId>
                    <Size>50f,50f</Size>
                    <Connection>
                      <ConfigKey>[Master],headVolume</ConfigKey>
                    </Connection>
                  </Knob>
                </Children>
              </WidgetGroup>

              <WidgetGroup>
                <ObjectName>SettingsKnobGroup</ObjectName>
                <Layout>vertical</Layout>
                <Size>100f,0me</Size>
                <Children>
                  <Label>
                    <ObjectName>SettingsKnobLabel</ObjectName>
                    <Text>Mix Cue/Master</Text>
                    <Size>0me,20f</Size>
                  </Label>
                  <Knob>
                    <ObjectName>SettingsKnob</ObjectName>
                    <TooltipId>headphone_mix</TooltipId>
                    <Size>50f,50f</Size>
                    <Connection>
                      <ConfigKey>[Master],headMix</ConfigKey>
                    </Connection>
                  </Knob>
                </Children>
              </WidgetGroup>

              <WidgetGroup>
                <ObjectName>SettingsKnobGroup</ObjectName>
                <Layout>vertical</Layout>
                <Size>100f,0me</Size>
                <Children>
                  <Label>
                    <ObjectName>SettingsKnobLabel</ObjectName>
                    <Text>Balance</Text>
                    <Size>0me,20f</Size>
                  </Label>
                  <Knob>
                    <ObjectName>SettingsKnob</ObjectName>
                    <TooltipId>master_balance</TooltipId>
                    <Size>50f,50f</Size>
                    <Connection>
                      <ConfigKey>[Master],balance</ConfigKey>
                    </Connection>
                  </Knob>
                </Children>
              </WidgetGroup>

            </Children>
          </WidgetGroup>

          <WidgetGroup>
            <ObjectName>SettingsInfoRow</ObjectName>
            <Layout>horizontal</Layout>
            <Size>0me,30f</Size>
            <Children>
              <Label>
                <ObjectName>SettingsInfoLabel</ObjectName>
                <Text>Pour choisir la carte son : Préférences &#8250; Matériel audio</Text>
                <Size>0me,30f</Size>
              </Label>
            </Children>
          </WidgetGroup>
        </Children>
      </WidgetGroup>

      <!-- ===== SEPARATOR ===== -->
      <WidgetGroup>
        <ObjectName>SettingsSeparator</ObjectName>
        <Layout>horizontal</Layout>
        <Size>0me,2f</Size>
        <Children/>
      </WidgetGroup>

      <!-- ===== CONTROLLER ===== -->
      <WidgetGroup>
        <ObjectName>SettingsSection</ObjectName>
        <Layout>vertical</Layout>
        <Size>0me,0me</Size>
        <Children>
          <WidgetGroup>
            <ObjectName>SettingsSectionHeader</ObjectName>
            <Layout>horizontal</Layout>
            <Size>0me,30f</Size>
            <Children>
              <Label>
                <ObjectName>SettingsSectionTitle</ObjectName>
                <Text>CONTRÔLEUR</Text>
              </Label>
            </Children>
          </WidgetGroup>

          <WidgetGroup>
            <ObjectName>SettingsInfoRow</ObjectName>
            <Layout>horizontal</Layout>
            <Size>0me,30f</Size>
            <Children>
              <Label>
                <ObjectName>SettingsInfoLabel</ObjectName>
                <Text>Pour configurer un contrôleur : Préférences &#8250; Contrôleurs</Text>
                <Size>0me,30f</Size>
              </Label>
            </Children>
          </WidgetGroup>
        </Children>
      </WidgetGroup>

      <!-- ===== DECK INFO ===== -->
      <WidgetGroup>
        <ObjectName>SettingsSeparator</ObjectName>
        <Layout>horizontal</Layout>
        <Size>0me,2f</Size>
        <Children/>
      </WidgetGroup>

      <WidgetGroup>
        <ObjectName>SettingsSection</ObjectName>
        <Layout>vertical</Layout>
        <Size>0me,0me</Size>
        <Children>
          <WidgetGroup>
            <ObjectName>SettingsSectionHeader</ObjectName>
            <Layout>horizontal</Layout>
            <Size>0me,30f</Size>
            <Children>
              <Label>
                <ObjectName>SettingsSectionTitle</ObjectName>
                <Text>DECKS</Text>
              </Label>
            </Children>
          </WidgetGroup>

          <WidgetGroup>
            <ObjectName>SettingsRow</ObjectName>
            <Layout>horizontal</Layout>
            <Size>0me,70f</Size>
            <Children>
              <WidgetGroup>
                <ObjectName>SettingsKnobGroup</ObjectName>
                <Layout>vertical</Layout>
                <Size>100f,0me</Size>
                <Children>
                  <Label>
                    <ObjectName>SettingsKnobLabel</ObjectName>
                    <Text>Crossfader</Text>
                    <Size>0me,20f</Size>
                  </Label>
                  <Knob>
                    <ObjectName>SettingsKnobCross</ObjectName>
                    <TooltipId>crossfader</TooltipId>
                    <Size>50f,50f</Size>
                    <Connection>
                      <ConfigKey>[Master],crossfader</ConfigKey>
                    </Connection>
                  </Knob>
                </Children>
              </WidgetGroup>
            </Children>
          </WidgetGroup>
        </Children>
      </WidgetGroup>

    </Children>
  </WidgetGroup>
</Template>
